@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Noto Sans Bengali", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@theme{
  --color-teal: #30c9bb;
  --color-lavender: #a855f7;
}